.cards {
}

.cards__list {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  padding: 0;
  margin: 40px 0 0;
}

/*<div class="page__content">
      <div class="footer__content">
      .footer__content {
  margin-top: 67px;
  margin-bottom: 60px;
  max-width: 318px;
  max-height: 18px;
}*/
