.header {
  margin-top: 45px;
  border-bottom: 1px rgba(84 84 84 / 0.7) solid;
  width: 100%;
}

.header__logo {
  padding-bottom: 41px;
  width: 173px;
  height: 33px;
}

@media screen and (max-width: 876px) {
  .header {
    margin-top: 45px;
  }
}
@media screen and (max-width: 620px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
    margin-left: 8px;
  }

  .header__line {
    margin-top: 32px;
    margin-bottom: 0;
  }
}
